
*{
	margin:0;
	padding:0;
}
body{
	color:#888888;
	font-family:Georgia ;
	font-size:14px;
}
a{
	text-decoration:none;
	color:#000;
	display:block;
}
a:hover{
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;	
}
p{
	margin:0;
	padding:0;
}

.section{
	background-color:#313131;
	width:1000px;
	margin:0 auto;
	position: relative;
}
.service{
	width:960px;
	margin:0 auto;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.header{
	width:100%;
	height:94px;
	background-color:#fff;
	padding:0 20px;
	border-top:3px solid #A7C353;
	position:relative;
}
.header:after{
	content: "";
    width: 902px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 22px;
    background-color: #A7C353;
	
}
.logo h2{
	color:#666666;
	font-size:26px;
	margin-top:20px;
}
.logo p{
	color:#888888;
	text-transform:capitalize;
}
.manu{
}
.manu li{
	list-style:none;
	display:inlin-block;
	float:left;
}
.manu li a{
	padding:35px 15px;
}
.manu li a:hover{
	background-color:#A7C353;
}

.header_botom{
	background-color:#fff;
	width:100%;
	height:135px;
	padding:30px 20px;
	text-align:center;
}

.header_botom h2{
	color:#666666;
	font-size:23px;
	font-style:italic;
}

.slider{
	background-color:#fff;
	position:relative;
	
}
.slider_pic{
	width:920px;
	height:350px;
	background-color:#000;
	margin:0 auto;
	
}
.slider_pic img{
	width:100%;
	height:100%;
}
.slider_text{
	width:320px;
	height:120px;
	position:absolute;
	bottom: 15px;
    right: 74px;
	z-index: 3;
	
}
.slider_text h2{
	text-align:center;
	width:320px;
	height:35px;
	background-color:#A7C353;
	color:#fff;
	font-size:22px;
	padding:5px 0;
	margin-bottom:10px;
}
.slider_text p{
	width:320px;
	height:70px;
	background-color:#FFFFFF;
	padding:5px 15px;
}

.slider_pic.owl-carousel .owl-nav div{
	width:50px;
	height:50px;
	background-color:#000;
	font-size:30px;
	text-align:center;
	padding-top:5px;
	border:3px solid #A7C353;
	border-radius:50%;
	position:absolute;
	top:45%;
	left:5px;
	color:#A7C353;
}
.slider_pic.owl-carousel .owl-nav div.owl-next{
	left:auto;
	right:7px;
}

.slider_pic.owl-carousel .owl-dots{
	position:absolute;
	left:45%;
	top:105%;
	margin-left:-30px;
}

.slider_pic.owl-carousel .owl-dots .owl-dot{
	width:20px;
	height:20px;
	background-color:#A7C353;
	margin:5px;
	border-radius:50%;
	display:inline-block;
}

.slider_pic.owl-carousel .owl-dots .owl-dot.active{
	background-color:#fff;
	border:4px solid #A7C353;
}

.content{
	width:100%;
	background-color:#fff;
	padding:20px;
	padding-top: 100px;
	overflow:hidden;
}
.single_content{
	width:285px;
	float:left;
	margin-right:30px;
}
.single_content:last-child{
	margin-right:0px;
}
.single_content h2{
	font-size:22px;
	color:#666666;
	margin-bottom:20px;
}
.single_content img{
    width: 280px;
    height: 140px;
    border: 5px solid #E9E9E9;
}
.single_content p{
	color:#999999;
	font-size:13px;
	margin:20px 0;
}
.single_content a{
	float:right;
	color:#a7c353;
	font-size:13px;
}

.ser_pic{}
.ser_pic img{
	width:64px;
	height:64px;
	border-radius:5px;
	margin-right:10px;
}
.ser_text{
	width:200px;
}
.ser_text h4{
	color:#878787;
	font-size:18px;
}
.ser_text p{
	margin:10px 0;
	color:#868686;
	font-size:14px;
	line-height:17px;
}

.single_content h4 i{
	font-size:40px;
	color:#d4d4d4;
	padding-top:10px;
}
.footer{
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
	border-bottom:1px solid #363636;
}
.single_footer{
	width:220px;
	margin-right:20px;
	float:left;
}
.single_footer:last-child{
	margin-right:0px;
}
.single_footer h2{
	font-size:18px;
	color:#fff;
	padding:20px 0;
	border-bottom:2px solid #363636;
}
.single_footer p{
	font-size:13px;
	color:#999999;
	padding:10px 0;
}
.single_footer span{
	color:#a7c353;
}

.single_footer h3{
	font-size:14px;
	margin-bottom:8px;
	padding-top:10px;
	padding-bottom:5px;
	border-bottom:1px solid #363636;
}
.single_footer i{
    width: 35px;
    height: 36px;
    font-size: 25px;
    color: #fff;
    background-color: #383838;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px
}
.single_footer a{
	color:#a7c353;
}
.single_footer h4{
	font-size:17px;
	color:#999999;
	margin-top:10px;
	
}
.fot_three p{
	padding:5px 0;
	font-size:12px;
}
.fot_three a{
	float:right;
	
}
.blog_bot{
	margin-top:10px;
}

.single_footer input{
    width: 240px;
    height: 30px;
    margin: 5px;
	padding:5px;
	border:1px solid transparent;
	border-radius:5px;
	background-color:#383838;
	margin-top:10px;
}
.single_footer input.sms{
	height:100px;
}
.single_footer input.btn{
	width:80px;
	background-color:#A7C353;
	color:#000;
}

.footer_bottom{
	padding:10px;
	
}
.footer_bottom span{
	float:right;
	
}












